body { margin: 0 auto; width: 960px; background: #eee; }

#banner-slide { margin: 0 auto; padding-top: 20px; }
p.bjqs-caption { font-weight: 700; }

.aviso-default { height: 300px; line-height: 300px; }

header .logo { background: url('../img/banner.png') no-repeat 50% 50%;  height: 200px; }

nav { width: 100%; margin: 0; height: 30px; font-family: "Arial"; }
nav ul { margin: 0; }
nav ul a { background: #4D7FA4; color: #fff; margin-right: 15px; display: block; float: left; width: 228px; text-decoration: none; line-height: 30px; text-align: center; letter-spacing: 3px; box-shadow: 0 0 1px 2px rgba(0,0,0,0.6); }
nav ul a:hover { background: #B0C4DE; color: #000; }
nav ul a.last { margin: 0; width: 229px; }

footer { background: #4D7FA4; width: 960px; height: 90px; box-shadow: 0 0 1px 2px rgba(0,0,0,0.6); }
footer .navigation { width: 180px; height: 100%; padding-top: 5px; float: left; }
footer ul li a { color: #fff; line-height: 20px;  }
footer ul li a:hover { text-decoration: underline; }
footer div.dev { color: #fff; width: 600px; float: left; text-align: center; padding-top: 55px; }
footer div.icone { width: 180px; height: 90px; float: left; padding-top: 10px; }
footer div.icone img { box-shadow: 0 0 5px 2px rgba(0,0,0,0.6); }

.form-login, .form-cadastro, .form-atualizar-cadastro { min-height: 280px; margin: 0 355px; width: 250px; }
.form-atualizar-cadastro { min-height: 600px; margin: 0 355px; width: 250px; }
.form-inserir-experiencias { min-height: 400px; margin: 0 355px; width: 250px; }

form h1 { color: #4D7FA4; margin-top: 30px; }

.form-email { width: 100%; margin-top: 20px; }
.form-email input[type=email] { width: 100%; }
.form-email label { letter-spacing: 2px; }

.form-senha { width: 100%; margin-top: 20px; }
.form-senha input[type=password] { width: 100%; }
.form-senha label { letter-spacing: 2px; }

.form-nome,
.form-sobrenome,
.form-nascimento,
.form-endereco,
.form-bairro,
.form-cidade,
.form-estado,
.form-profissao,
.form-cargo,
.form-inicio,
.form-termino,
.form-atividades { width: 100%; margin-top: 20px; }

.form-nome input[type=text],
.form-sobrenome input[type=text],
.form-nascimento input[type=text],
.form-endereco input[type=text],
.form-bairro input[type=text],
.form-cidade input[type=text],
.form-estado input[type=text],
.form-profissao input[type=text],
.form-cargo input[type=text],
.form-inicio input[type=text],
.form-termino input[type=text],
.form-atividades textarea { width: 100%; }

.form-atividades textarea { resize: none; }

.form-nome,
.form-sobrenome,
.form-nascimento,
.form-endereco,
.form-bairro,
.form-cidade,
.form-estado,
.form-profissao,
.form-cargo,
.form-inicio,
.form-termino,
.form-atividades label { letter-spacing: 2px; }

.form-enviar { width: 100%; margin-top: 20px; }
.form-enviar input[type=submit] { float: right; background: #4D7FA4; color: #fff; border: none; width: 120px; height: 25px; font-size: 14px; letter-spacing: 1px; }

.area-pessoal { text-align: center; }
.area-pessoal ul li a { background: #4D7FA4; color: #FFF; display: block; width: 228px; margin-top: 30px; margin-left: 337px; height: 30px; line-height: 30px; letter-spacing: 3px; box-shadow: 0 0 1px 2px rgba(0,0,0,0.6); }
.area-pessoal ul li a.last { margin-bottom: 25px; }
.area-pessoal ul li a:hover { background: #B0C4DE; color: #000; }